/* COLORS:
gris light: #F5F6FA;
azul: #1598FF;
azul light: #25A8EE;
verde: #02A4A6;
*/

.color_azul{
	color: #1598FF;
}

.relativo{
	position: relative;
}

h2{
	padding-left: 60px;
	position: relative;
}

h3{
	color: #1598FF;
}

h5{
    font-size: 1rem;
    font-weight: 500;
}

.form-group h3{
	margin: 20px 0 0 0;
}

.clearfix{
	clear: both;
    content: "";
    display: block;
    width: 100%;
}

.hidden{
    display: none;
}

.visible-xs,
.visible-sm{
	display: none;
}

.fc-today-button{
	background-color: #02A4A6;
	color: #FFF;
}

.hyvin-boton{
	background-color: #FFF;
	border: 2px solid #1598FF;
	border-radius: 22.5px;
	color: #1598FF;
	font-size: 11px;
	font-style: normal !important;
	font-weight: bold;
	line-height: 1.33;
	padding: 10px 40px; 	
}
	.hyvin-boton .fa{
		margin-left: 10px;
	}

.fa.favorito{
	color: #FEDD02; 
}
.fa.fa-star-o{
	cursor: pointer;
	font-size: 20px;
}

.login-page{
	background-color: #1C2238;
	height: 100%;
}
	.login-page .logo{
		margin: 120px 0;
	}
	.login-page h1{
		color: #FFF;
	}
	.login-page p{
		color: #FFF;
		font-size: 15px;
		margin-bottom: 50px;
		margin-top: 40px;
		width: 80%;
	}
	.login-page small{
		display: block;
		margin-top: 150px;
	}

.frm-login{
	width: 80%;
}
	.frm-login label{
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
	}
	.frm-login a{
		color: #3966F7;
		float: right;
		font-style: italic;
	}
	.frm-login input[type="email"],
	.frm-login input[type="password"]{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #616473;
		color: #616473;
	}
	.frm-login input[type="submit"]{
		background-color: #3966F7;
		border: none;
		border-radius: 22.5px;
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.33;
		margin-top: 80px;
		padding: 12px 40px; 
	}

.logo{
	display: block;
	margin: 40px auto;
}

.metismenu{
	border-bottom: 1px solid #2E354F;
}
.metismenu li .label{
	background-color: #252A40;	
	color: #C6E4EE;
	font-size: 13px;
	line-height: 30px;
	margin-top: -9px;
}

li.bg-down{
	background-color: #222943 !important;
}
	li.bg-down .fa{
		color: #1598FF;
	}

li.salir{
	padding-top: 50px;
}
	li.salir .fa{
		color: #FE1568;
	}

#page-wrapper{
	background-color: #FFF;
	padding: 0;
}

.content-header{
	background-color: #F5F6FA;
	padding: 50px 70px;
	position: relative;
}
	.content-header h1{
		font-size: 34px;
	}
		.content-header h1 a{
			color: #1598FF;
			font-size: 18px;
			font-weight: bold;
			margin-left: 60px;
		}
		.icon-sound{
			cursor: pointer;
			position: absolute;
			right: 30px;
			top: 25px;
		}
			.icon-sound img{
				width: 35px;
			}
	.content-header-menu div{
		cursor: pointer;
		font-size: 17px;
		margin-bottom: 12px;
		padding-bottom: 15px;
	}
		.content-header-menu div.active{
			border-bottom: 2px solid #1598FF;
		}
		.icon-filtrar{
			width: 140px;
		}

.content-body{
	padding: 50px 70px;
	position: relative;	
}

.hyvin-tabs.nav-tabs{
	background-color: #F5F6FA;
	border-bottom: none;
	margin-bottom: 20px;
	padding: 0 50px 50px 50px;	
}
	.hyvin-tabs.nav-tabs .nav-link{
		border: none;
		font-size: 17px;
		padding: 0 40px 15px 40px;
	}
	.hyvin-tabs.nav-tabs .nav-link.active{
		background-color: transparent;
		border-bottom: 2px solid #1598FF;
	}

.tab-content{
	padding: 50px;
}

/* Forms: */
.form-group{
	margin-bottom: 40px;
}
.form-group label{
	color: #394053;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}
.form-control{
	background-color: #FCFCFC;
	border: none;
	border-bottom: 1px solid #CCC;
	color: #666 !important;
	font-weight: bold;
	padding-bottom: 12px;
	padding-left: 0;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D0D0D0;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D0D0D0;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #D0D0D0;
}

select.form-control:not([size]):not([multiple]){
    height: 2.55rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{
    position: relative;
    /*padding-left: 28px;*/
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #ECE8E7;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #1485CC;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rdb-square label{
	margin-right: 12px;
}
.rdb-square input[type="radio"]{
  	display: none;
}
.rdb-square input[type="radio"]:checked + .box {
  	background-color: #FFF;
  	border-color: #23D0E0;
}
.rdb-square input[type="radio"]:checked + .box span {
  	color: #666;
  	/*transform: translateY(70px);*/
}
.rdb-square input[type="radio"]:checked + .box span:before {
  	/*transform: translateY(0px);*/
  	opacity: 1;
}
.rdb-square .box {
  	background-color: #fff;
  	border: 1px solid #DDD;
  	cursor: pointer;
  	display: inline-block;
  	height: 40px;
  	position: relative;
	text-align: center;
  	width: 100px;
}
.rdb-square .box:active {
  	/*transform: translateY(10px);*/
}
.rdb-square .box span {
  	color: #666;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 38px;
}

input:-moz-read-only,
input:read-only { 
    padding-left: 15px;
}

/* tables: */
.table > thead > tr > th{
	border: none;
	color: #676a6c !important;
	height: 40px; 
}
.table > tbody > tr > td{
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    height: 50px;
    vertical-align: middle;
}
	.table > tbody > tr > td p{
		margin-bottom: 12px;
	}
	.table > tbody > tr > td table td{
		border-top: none;
		padding: 25px 10px;
	}
	.table > tbody > tr > td table tr:hover{
		background-color: transparent;
	}

.tabla .tbl-head th{
	background-color: #35B8FF;
	color: #FFF;
}
.tabla .form-control{
	border: 1px solid #CCC;
	padding-left: 12px;
}

.add-line{
	background-color: #02a4a6;
	color: #FFF;
}

/* DASHBOARD: */
.dsb-contador{
	text-align: center;
}
	.dsb-contador.col-sm{
		border-right: 1px solid #DDD;
		padding: 0;
	}
		.dsb-contador.col-sm.last{
			border-right: none !important;
		}
	.dsb-contador span{
		font-size: 60px;
		font-weight: 500;
	}

.dsb-grafic{
	border-top: 1px dashed #DDD;
	margin: 50px 15px;
	padding-top: 50px;
}
/* / DASHBOARD */

/* PÓLIZAS: */
#poliza-line{
	margin: 50px 20px 0 20px;
	height: 50px;
}
.hito{
	border-top: 1px solid #CCC;
	position: relative;

	height: 30px;
}
	.hito .hito-legend,
	.hito .hito-legend-first{
		color: #666;
		font-size: 11px;
		font-weight: bold;
		position: absolute;	
		right: -75px;
		text-align: center;
		top: 20px;
		width: 150px;
		z-index: 10;
	}
	.hito .hito-legend-first{
		color: #02a4a6;
		left: -75px;	
	}
		.hito .hito-legend::before,
		.hito .hito-legend-first::before{
			background-color: #FFF;
			border: 1px solid #CCC;
			border-radius: 50%;
			content: "";
			height: 12px;
			left: 70px;
			position: absolute;
			top: -27px;
			width: 12px;
		}
		.hito .hito-legend-first::before{
			border: 2px solid #02a4a6;	
		}

	.hito.hito-done{
		border-top: 2px solid #02a4a6;
	}

	.hito .hito1.hito-legend::before{
		border: 2px solid #02a4a6;	
	}
	.hito .hito1.hito-legend-first::before{
		background-color: #02a4a6;
	}

.paso{
	background-color: #02A4A6;
	border-radius: 50%;
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: -3px;
	width: 40px;
}

.head-frm.form-group{
	border-bottom: 1px solid #CCC;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 25px !important;
	padding-bottom: 6px;
}

.frm-label{
	margin-top: 8px;
}

.no-mb .form-group{
	margin-bottom: 12px;
}
/* / PÓLIZAS */

/* CONSULTAS: */
.card{
	border-radius: 0;
	margin-bottom: 30px;
	padding: 25px;
	text-align: center;
}
.card-consulta img{
	margin: 25px auto;
	width: 39px;
}
.card-consulta .card-text{
	font-weight: bold;
}
/* / CONSULTAS */

/* CALCULADORA: */
#modalCalculadora{
	display: none;
	left: 10px;
	margin: 0;
	position: fixed;
	top: 10px;
	z-index: 99999;
}

/* / CALCULADORA */


/* *************** RESPONSIVE: *************** */
@media (max-width: 1199px){
	.content-header{
		padding-bottom: 60px;
	}

	.frm-login{
		width: 95%;
	}	

	#poliza-line{
		margin-top: 35px;
	}
	.hito .hito-legend-first,
	.hito .hito-legend{
		padding-right: 5px;    	
    	right: -20px;
    	text-align: right;
    	transform: rotate(-45deg);
    	top: 53px;
	}
	.hito .hito-legend-first{
		left: -120px;
	}
	.hito .hito-legend::before, 
	.hito .hito-legend-first::before{
		left: 149px;
		top: -6px;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.hidden-md{
		display: none;
	}
}

@media (min-width: 576px) and (max-width: 768px){
	.hidden-sm{
		display: none;
	}
}

@media (max-width: 767px){
	.login-page .logo{
		margin: 30px 0;
	}
	.frm-login{
		width: 95%;
	}
	.login-page small{
		margin-top: 50px;
	}	

	.content-header h1 a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}

	.visible-sm{
		display: block;
	}

	.form-group.text-right{
    	text-align: left !important;
    }
    	.form-group label{
    		margin-bottom: 0;
    	}
    	.no-mb .form-group {
    		margin-bottom: 5px;
		}
}

@media (max-width: 575px){
	.content-body {
    	padding: 40px 15px;
    }

    .visible-xs{
    	display: block;	
    }

	.hidden-xs{
		display: none;
	}

	.hito .hito-legend-first,
	.hito .hito-legend{
		padding-right: 5px;    	
    	right: -20px;
    	text-align: right;
    	transform: rotate(0deg);
    	top: 53px;
	}
	.hito .hito-legend-first{
		left: -120px;
	}
	.hito .hito-legend::before, 
	.hito .hito-legend-first::before{
		left: 149px;
		top: -6px;
	}

}