
#calculator {
    width: 266px;
    height: 453px;
    background: #202020;
    margin: 1% auto 1% auto;
    border: 1px solid black;
}

#display {
    background: #202020;
    width: 262px;
    height: 25%;
    margin: 0px auto 0 auto;
    text-align: right;
    font-size: 50px;
    color: white;
    position: relative;
    padding-bottom: 0px;
}

#display span {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#name {
    margin: 5% auto 1% auto;
    text-align: center;
    color: black;
}

.button {
    height: 67.5px;
    width: 65px;
    margin: 0px;
    display: inline;
    float: left;
    padding-top: 0;
    border-style: solid solid none none;
    border-width: thin;
    border-color: rgb(120, 120, 120);
    background-color: #dedee0;
    font-size: 30px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.button:focus, #home:focus {
    outline: 0;
}

.button:active, #home:active {
    background-color: #C5C5C7;
}

.button:hover, #home:hover {
    cursor: default;
}

.btnO {
    background-color: #FF8C2D;

}

.btnO:active {
    background-color: #d67526;
}

.btnO:focus {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.btnEquals:focus {
    border-style: solid;
    border-width: .01cm;
    border-color: rgb(102, 102, 102);
}

.btnDG {
    background-color: #C5C5C7;
}

.btnDG:active {
    background-color: #aeaeaf;
}