<span style='color: #000' title='Frames'>  1880</span><span style='color: #009' title='Memory'>  44544.00 KB</span><span style='color: #900' title='Time'>   4288.88 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />