.login-page{
	background-color: #1C2238;
	height: 100%;
}
	.login-page .logo{
		margin: 120px 0;
	}
	.login-page h1{
		color: #FFF;
	}
	.login-page p{
		color: #FFF;
		font-size: 15px;
		margin-bottom: 50px;
		margin-top: 40px;
		width: 80%;
	}
	.login-page small{
		display: block;
		margin-top: 150px;
	}

.frm-login{
	width: 80%;
}
	.frm-login label{
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
	}
	.frm-login a{
		color: #3966F7;
		float: right;
		font-style: italic;
	}
	.frm-login input[type="email"],
	.frm-login input[type="password"]{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #616473;
		color: #616473;
	}
	.frm-login input[type="submit"]{
		background-color: #3966F7;
		border: none;
		border-radius: 22.5px;
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.33;
		margin-top: 80px;
		padding: 12px 40px; 
	}

.logo{
	display: block;
	margin: 40px auto;
}

.metismenu{
	border-bottom: 1px solid #2E354F;
}
.metismenu li .label{
	background-color: #252A40;	
	color: #C6E4EE;
	font-size: 13px;
	line-height: 30px;
	margin-top: -9px;
}

li.bg-down{
	background-color: #222943 !important;
}
	li.bg-down .fa{
		color: #1598FF;
	}

li.salir{
	padding-top: 50px;
}
	li.salir .fa{
		color: #FE1568;
	}

.content-header{
	background-color: #F5F6FA;
	padding: 40px;
	position: relative;
}
	.content-header h1{
		font-size: 34px;
	}
		.content-header h1 a{
			color: #1598FF;
			font-size: 18px;
			font-weight: bold;
			margin-left: 60px;
		}
		.icon-sound{
			cursor: pointer;
			position: absolute;
			right: 30px;
			top: 25px;
		}
			.icon-sound img{
				width: 35px;
			}
	.content-header-menu div{
		cursor: pointer;
		font-size: 17px;
		margin-bottom: 12px;
		padding-bottom: 15px;
	}
		.content-header-menu div.active{
			border-bottom: 2px solid #1598FF;
		}
		.icon-filtrar{
			width: 140px;
		}

.content-body{
	padding: 40px;
	position: relative;	
}


/* *************** RESPONSIVE: *************** */
@media (max-width: 1199px){
	.frm-login{
		width: 95%;
	}	
}

@media (max-width: 767px){
	.login-page .logo{
		margin: 30px 0;
	}
	.frm-login{
		width: 95%;
	}
	.login-page small{
		margin-top: 50px;
	}	

	.content-header h1 a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}